{{var "data" htmlWebpackPlugin.options.data}}
<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div id="root" class="parent">
      <div class="square-sizer">
        <div class="inner">
          {{> panel starterText='Questions for Big Data' followUp='<p>I ask my banking app for my balance.</p><p>"Why?" it replies.</p>'}}
          {{> panel starterText='Gender Ecstatica' followUp='<p>Cupidatat nostrud in eu commodo dolore ut sunt. Eiusmod nisi aute in veniam elit irure occaecat in. Quis qui ea enim dolore cupidatat tempor excepteur non nisi. Nisi aliqua occaecat ad deserunt ullamco ex laboris excepteur aute tempor aliquip id. Aute aliquip sint aute dolor.</p>'}}
          {{> panel starterText='Running from Congress' followUp='<p>Id culpa adipisicing labore anim sunt elit do in nisi labore velit ullamco. Et Lorem id et excepteur aliqua commodo pariatur minim fugiat nulla ad. Incididunt id sint anim nisi anim magna eu proident ex veniam ad excepteur laborum. Enim mollit incididunt ex deserunt sit esse veniam adipisicing aliqua eiusmod occaecat exercitation. Ex proident ex do dolore consequat non nulla tempor aute id officia labore cupidatat. Nostrud nulla consequat irure voluptate ea culpa proident consequat dolore.</p>'}}
          {{> panel starterText='Move through life in the color green' followUp='<p>Exercitation cupidatat sit officia laboris ex cupidatat magna. Tempor id est nulla mollit in irure duis incididunt occaecat tempor quis ea sit aliquip. Anim officia amet amet enim reprehenderit eiusmod tempor cupidatat do nostrud exercitation sunt nisi. Nisi ullamco sit aute commodo eiusmod fugiat aliquip consectetur nisi. Aliquip nisi velit pariatur sunt consequat. Consectetur nisi occaecat anim incididunt consequat elit irure esse ex. Do esse ad pariatur et voluptate dolor qui ipsum dolore.</p>'}}
        </div>
      </div>
    </div>
  </body>
</html>