{{var "data" htmlWebpackPlugin.options.data}}
<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div id="root" class="parent">
      <div class="square-sizer">
        <div class="inner">
          {{> panel url='https://images.wsj.net/im-52586?width=1260&aspect_ratio=1'}}
          {{> panel url='https://images.wsj.net/im-52905?width=1260&aspect_ratio=1'}}
          {{> panel url='https://images.wsj.net/im-52511?width=1260&aspect_ratio=1'}}
          {{> panel url='https://images.wsj.net/im-52636?width=1260&aspect_ratio=1'}}
        </div>
      </div>
    </div>
  </body>
</html>