{{var "data" htmlWebpackPlugin.options.data}}
<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div id="root" class="parent">
      <div class="square-sizer">
        <div class="inner">
          {{> panel}}
          {{> panel}}
          {{> panel}}
          {{> panel}}
        </div>
      </div>
    </div>
  </body>
</html>