$orange: #E8A858;
$blue: #88C8F0;
$green: #BBDD37;
$gray: #888888;

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
* {
  box-sizing: border-box;
  user-select: none;
}

.parent {
  width: 100%;
  max-width: 400px;
  overflow: hidden;
}

.square-sizer {
  padding-top: 100%;
  position: relative;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  // display: grid;
  // grid-template: 1fr 1fr / 1fr 1fr;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.panel {
  flex: 0 0 50%;
  height: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.panel__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
}

.panel__inner img {
  width: 100%;
  filter: grayscale(1);
}

.thumbnail {
  width: 50%;
  height: 50%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 1;
  padding: 10px 12px;
  font-family: 'Prata', serif;
  font-family: 'Libre Baskerville', serif;
}
.full-content {
  width: 100%;
  height: 100%;
}


$colors: $orange, $blue, $gray, $green;
$colors: #FBF5E3, #FA4827, #FB9826, #276155;
$textColors: #333333, #FFE2DC, #5c3400, #d7efde;
// $colors: #276155, #FA4827, #276155, #FA4827;
$origins: top left, top right, bottom left, bottom right;
$offsets: (0, 0), (-100%, 0), (0, -100%), (-100%, -100%);
$floats: left, right, left, right;
@for $i from 1 through 4 {
  .panel:nth-child(#{$i}) {
    background-color: nth($colors, $i);
    color: nth($textColors, $i);
  }
  .panel:nth-child(#{$i}),
  .panel:nth-child(#{$i}) .panel__inner {
    transform-origin: nth($origins, $i);
  }
  $offset : nth($offsets, $i);
  $left : nth($offset, 1);
  $top : nth($offset, 2);
  .panel:nth-child(#{$i}) .panel__inner {
    top: $top;
    left: $left;
  }

  .panel:nth-child(#{$i}) .thumbnail {
    float: nth($floats, $i);
  }

  @if $i > 2 {
    .panel:nth-child(#{$i}) .thumbnail {
      top: 50%;
    } 
  }
}

.is-resetting {
  .panel,
  .panel__inner {
    transition: transform ease-out 300ms;
  }
}

.panel:nth-child(2) {
  .thumbnail {
    float: none;
    left: 50%;
  }
}

.panel:nth-child(3) {
  .thumbnail {
    position: absolute;
    left: 0;
    right: 0;
  }
  .spacer {
    float: left;
    width: 50%;
    height: 100%;
    // shape-outside: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  }
}
.panel:nth-child(4) {
  .thumbnail {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .spacer {
    float: right;
    width: 50%;
    height: 100%;
    shape-outside: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  }
}


p {
  margin: 0;
}
p + p {
  margin-top: 0.5em;
}

.full-content {
  padding: 10px;
  font-family: 'Noticia Text', serif;
  font-size: 15px;
  line-height: 1.25;
}
.panel:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.panel:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.panel:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.panel:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

@media screen and (max-width: 375px) {
  .thumbnail {
    font-size: 21px;
  }
  .full-content {
    font-size: 13px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 10px 5px;
  color: #999999;
  font-family: sans-serif;
  font-size: 15px;
}