<div class="panel">
  <div class="panel__inner">
    <div class="spacer"></div>
    <div class="thumbnail">{{title}}</div>
    <div class="full-content">
      {{#each short-version}}
        <p>{{{.}}}</p>
      {{/each}}
    </div>
  </div>
</div>